* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, Times;
}

section {
	height: 400px;
}

			/*-------------*/
			/*---HEADER----*/
			/*-------------*/

header nav {
	background-color: #0D325A;
	color: white;
	padding: 0 10%;
}
header nav img {
	height: 70px;
	filter: brightness(500%);
	float: left;
}

header nav ul {
	display: inline-block;
	float: left;
}

header nav ul li {
	display: inline-block;
}

header nav ul li a {
	text-decoration: none;
	color: white;
}

.header-nav-uldx {
	float: right;
}

nav::after {
	/*clearfix per dimensionare automaticamente il contenitore dei float*/
	content: '';
	display: table;
	clear: both;
}

			/*--------------*/
			/*---SECTIONS---*/
			/*--------------*/

.title-section {
	background-image: url("Resources/titlesection-background.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	padding: 0;
	color: white;
	background-color: #0D325A;
}

.title-section>* {
	margin: 0 10%;
	width: 400px;
}

.title-section h1 {
	padding-top: 145px;
	padding-bottom: 20px;
	font-size: 3rem;
}

.title-section h2 {
	padding-top: 145px;
	padding-bottom: 20px;
	font-size: 2rem;
}

.title-section h2 {
	padding-top: 145px;
	padding-bottom: 20px;
	font-size: 2rem;
}

.title-section p {
	padding: 15px 0;
	color: lightgrey;
}

.title-section button {
	width: auto;
}

.title-section.alt {
	background-image: url("Resources/titlesection-background-alt.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}

/*-----------------------------------------------*/
.main-section {
	padding: 0 10%;
	border: 1px solid black;
}

.main-section h2,h4 {
	text-align: center;
	margin: 10px;
}

.col-3 {
	display: inline-block;
	width: 32%;
	padding: 10px;
}

.col-3 img {
	height: 80px;
}